blockquote {
    position: relative;
    margin: 1.5em 0;
    padding: 1.2em 2em;
    background: #BEBAAA;
    border-radius: 8px;
    font-style: italic;
    color: #333;
    line-height: 1.6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

blockquote::before {
    content: '“';
    position: absolute;
    left: 0em;
    top: -0.1em;
    font-size: 3em;
    color: black;
    opacity: 0.3;
}

blockquote p {
    margin: 0;
    font-size: 1.1em;
}

code {
    background-color: #BEBEBE;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 6px;
    border: 1px solid black;
}

figure {
    text-align: center;
}

hr#navbar-divider {
    border: none;
    border-top: 2px solid black;
}

nav#navbar ul {
    display: flex;
    flex: 2;
    list-style-type: none;
}

nav#navbar li {
    text-align: center;
    flex: 1;
}

/* These were stripped from oc-csl output in body, and placed here
   where it's more appropriate. */
.csl-left-margin {
    float: left;
    padding-right: 0em;
}
.csl-right-inline {
    margin: 0 0 0 1em;
}

header {
    text-align: center;
}

body {
    background-color: lightgray;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

pre[class^="src"] {
    border: 2px dotted purple;
    background-color: #BEBEBE;
}

span.tag {
    background-color: lightgray;
    font-family: monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: normal;
}

pre.example::before {
    content: "⟹ ";
    position: absolute;
    left: 0;
}
pre.example {
    padding-left: 3em;
    background-color: inherit;
    border: none;
    position: relative;
    top: -20px;
}

span.tag > span {
    display: inline-block;
    padding: 1px 2px;
    background-color: #888888;
    color: white;
    text-align: center;
    border: 2px solid #666666;
    border-radius: 5px;
    margin-right: 2px;
}

a {
    position: relative;
    text-decoration: none;
}

[id^="mjx-eqn"]:target {
    scroll-margin-top: 100px;
}

[id^="mjx-eqn"]:target::after {
    content: '↓';
    font-size: 30px;
    color: red;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

a[id^="citeproc"] {
    border: transparent !important;
}

a[href^="#citeproc_bib_item"] {
    border: 2px solid orange !important;
}

a:has(img) {
    border: transparent !important;
}

mjx-math a {
    border: transparent !important;
}

div.csl-left-margin {
    margin-right: 5px;
}

div.status {
    display: inline-block;
    border: 2px solid black;
}

span.subtitle {
    font-size: 80%;
}

div#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #fefefe;
    border: 2px solid black;
    border-top: none;
    width: fit-content;
    cursor: pointer;
}

div#sidebar h2 {
    text-align: center;
}

div#sidebar h2:hover {
    text-decoration: underline;
}

div#sidebar h2::before {
    content: var(--sidebar-arrow, "⇓ ");
}

.sidebar {
    display: none;
    margin-top: 20px;
    right: 0;
    padding: 5px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar .blog-entry-date {
    font-style: italic;
}

#content { max-width: 60em; margin: auto; }
.title  { text-align: center;
          margin-bottom: .2em; }
.subtitle { text-align: center;
            font-size: medium;
            font-weight: bold;
            margin-top:0; }
.todo   { font-family: monospace; color: red; }
.done   { font-family: monospace; color: green; }
.priority { font-family: monospace; color: orange; }
.timestamp { color: #b43757; }
.timestamp-kwd { color: #5f9ea0; }
.org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
p.verse { margin-left: 3%; }
pre {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: auto;
}
div.org-src-container:has(pre.src)::before {
    position: relative;
    top: 1em;
    padding: 3px;
    color: #555;
    background-color: #f2f2f299;
    z-index: 2;
}
/* Languages per Org manual */
div.org-src-container:has(pre.src.src-asymptote)::before { content: 'Asymptote'; }
div.org-src-container:has(pre.src.src-awk)::before { content: 'Awk'; }
div.org-src-container:has(pre.src.src-authinfo)::before { content: 'Authinfo'; }
div.org-src-container:has(pre.src.src-c)::before { content: 'C'; }
div.org-src-container:has(pre.src.src-C)::before { content: 'C'; }
/* pre.src-C++ doesn't work in CSS */
div.org-src-container:has(pre.src.src-clojure)::before { content: 'Clojure'; }
div.org-src-container:has(pre.src.src-css)::before { content: 'CSS'; }
div.org-src-container:has(pre.src.src-D)::before { content: 'D'; }
div.org-src-container:has(pre.src.src-ditaa)::before { content: 'ditaa'; }
div.org-src-container:has(pre.src.src-dot)::before { content: 'Graphviz'; }
div.org-src-container:has(pre.src.src-calc)::before { content: 'Emacs Calc'; }
div.org-src-container:has(pre.src.src-elisp)::before { content: 'Emacs Lisp'; }
div.org-src-container:has(pre.src.src-emacs-lisp)::before { content: 'Emacs Lisp'; }
div.org-src-container:has(pre.src.src-fortran)::before { content: 'Fortran'; }
div.org-src-container:has(pre.src.src-gnuplot)::before { content: 'gnuplot'; }
div.org-src-container:has(pre.src.src-haskell)::before { content: 'Haskell'; }
div.org-src-container:has(pre.src.src-hledger)::before { content: 'hledger'; }
div.org-src-container:has(pre.src.src-java)::before { content: 'Java'; }
div.org-src-container:has(pre.src.src-js)::before { content: 'Javascript'; }
div.org-src-container:has(pre.src.src-latex)::before { content: 'LaTeX'; }
div.org-src-container:has(pre.src.src-ledger)::before { content: 'Ledger'; }
div.org-src-container:has(pre.src.src-lisp)::before { content: 'Lisp'; }
div.org-src-container:has(pre.src.src-lilypond)::before { content: 'Lilypond'; }
div.org-src-container:has(pre.src.src-lua)::before { content: 'Lua'; }
div.org-src-container:has(pre.src.src-matlab)::before { content: 'MATLAB'; }
div.org-src-container:has(pre.src.src-mscgen)::before { content: 'Mscgen'; }
div.org-src-container:has(pre.src.src-ocaml)::before { content: 'Objective Caml'; }
div.org-src-container:has(pre.src.src-octave)::before { content: 'Octave'; }
div.org-src-container:has(pre.src.src-org)::before { content: 'Org mode'; }
div.org-src-container:has(pre.src.src-oz)::before { content: 'OZ'; }
div.org-src-container:has(pre.src.src-plantuml)::before { content: 'Plantuml'; }
div.org-src-container:has(pre.src.src-processing)::before { content: 'Processing.js'; }
div.org-src-container:has(pre.src.src-python)::before { content: 'Python'; }
div.org-src-container:has(pre.src.src-R)::before { content: 'R'; }
div.org-src-container:has(pre.src.src-ruby)::before { content: 'Ruby'; }
div.org-src-container:has(pre.src.src-sass)::before { content: 'Sass'; }
div.org-src-container:has(pre.src.src-scheme)::before { content: 'Scheme'; }
div.org-src-container:has(pre.src.src-screen)::before { content: 'Gnu Screen'; }
div.org-src-container:has(pre.src.src-sed)::before { content: 'Sed'; }
div.org-src-container:has(pre.src.src-sh)::before { content: 'shell'; }
div.org-src-container:has(pre.src.src-sql)::before { content: 'SQL'; }
div.org-src-container:has(pre.src.src-sqlite)::before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
div.org-src-container:has(pre.src.src-forth)::before { content: 'Forth'; }
div.org-src-container:has(pre.src.src-io)::before { content: 'IO'; }
div.org-src-container:has(pre.src.src-J)::before { content: 'J'; }
div.org-src-container:has(pre.src.src-makefile)::before { content: 'Makefile'; }
div.org-src-container:has(pre.src.src-maxima)::before { content: 'Maxima'; }
div.org-src-container:has(pre.src.src-perl)::before { content: 'Perl'; }
div.org-src-container:has(pre.src.src-picolisp)::before { content: 'Pico Lisp'; }
div.org-src-container:has(pre.src.src-scala)::before { content: 'Scala'; }
div.org-src-container:has(pre.src.src-shell)::before { content: 'Shell Script'; }
div.org-src-container:has(pre.src.src-ebnf2ps)::before { content: 'ebfn2ps'; }
/* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
div.org-src-container:has(pre.src.src-cpp)::before  { content: 'C++'; }
div.org-src-container:has(pre.src.src-abc)::before  { content: 'ABC'; }
div.org-src-container:has(pre.src.src-coq)::before  { content: 'Coq'; }
div.org-src-container:has(pre.src.src-groovy)::before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
div.org-src-container:has(pre.src.src-bash)::before  { content: 'bash'; }
div.org-src-container:has(pre.src.src-csh)::before  { content: 'csh'; }
div.org-src-container:has(pre.src.src-ash)::before  { content: 'ash'; }
div.org-src-container:has(pre.src.src-dash)::before  { content: 'dash'; }
div.org-src-container:has(pre.src.src-ksh)::before  { content: 'ksh'; }
div.org-src-container:has(pre.src.src-mksh)::before  { content: 'mksh'; }
div.org-src-container:has(pre.src.src-posh)::before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
div.org-src-container:has(pre.src.src-ada)::before { content: 'Ada'; }
div.org-src-container:has(pre.src.src-asm)::before { content: 'Assembler'; }
div.org-src-container:has(pre.src.src-caml)::before { content: 'Caml'; }
div.org-src-container:has(pre.src.src-delphi)::before { content: 'Delphi'; }
div.org-src-container:has(pre.src.src-html)::before { content: 'HTML'; }
div.org-src-container:has(pre.src.src-idl)::before { content: 'IDL'; }
div.org-src-container:has(pre.src.src-mercury)::before { content: 'Mercury'; }
div.org-src-container:has(pre.src.src-metapost)::before { content: 'MetaPost'; }
div.org-src-container:has(pre.src.src-modula-2)::before { content: 'Modula-2'; }
div.org-src-container:has(pre.src.src-pascal)::before { content: 'Pascal'; }
div.org-src-container:has(pre.src.src-ps)::before { content: 'PostScript'; }
div.org-src-container:has(pre.src.src-prolog)::before { content: 'Prolog'; }
div.org-src-container:has(pre.src.src-simula)::before { content: 'Simula'; }
div.org-src-container:has(pre.src.src-tcl)::before { content: 'tcl'; }
div.org-src-container:has(pre.src.src-tex)::before { content: 'TeX'; }
div.org-src-container:has(pre.src.src-plain-tex)::before { content: 'Plain TeX'; }
div.org-src-container:has(pre.src.src-verilog)::before { content: 'Verilog'; }
div.org-src-container:has(pre.src.src-vhdl)::before { content: 'VHDL'; }
div.org-src-container:has(pre.src.src-xml)::before { content: 'XML'; }
div.org-src-container:has(pre.src.src-nxml)::before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
div.org-src-container:has(pre.src.src-conf)::before { content: 'Configuration File'; }

caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }
.org-svg {}
